<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body><center>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
                   {% for message in messages %}  
                        <h1 style="color: rgb(200, 49, 26);" class="my-5">{{ message }}</h1> 
                   {% endfor %}
             {% endif %}  
          {% endwith %}  
    <h2 class="my-5">Create Account</h2>
    <form action="/signed" method="POST">
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="form-outline">
                    <label for="uid" class="form-label"><h5> Enter Id : </h5></label>
                    <input  type="text" name = "uid"  id = "uid"  class="form-control" placeholder="ID"  required><br><br>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="form-outline">
                    <label for="uname" class="float-left form-label"><h5>Enter Name : </h5></label>
                    <input  class="form-control" type="text" name = "uname"  id = "uname" placeholder="Name" required><br><br>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="form-outline">
                    <label for="upw" class="float-left form-label"><h5>Create Password : </h5></label>
                    <input  class="form-control" type="password" name = "upw"  id = "upw" placeholder="Password" required><br><br>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
        
        <input type = "submit" class="btn btn-primary" value = "Create" /><br><br>

    </form>
    <a href="/login">Log In</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</center>
</body>
</html>