<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="container">
    <center>
    <h2 class="my-5">Assignments</h2>
        <table class="table table-bordered table-striped"  width="20%"> 
             <thead class="table-dark text-light">
            <tr style = "text-align: center;">
                <th>ID</th>
                <th>File_Name</th>
                <th>View Assignment</th>
                <th>Delect Assignment</th>
            </tr>  
        </thead>
            {% for details in all_detail %}  
            <tr style = "text-align: center;vertical-align: middle;">
                <td>{{ details.id }}</td>  
                <td>
                    {% if details.file_name|length==0 %}
                    <b>{{"Not Uploaded"}}</b>
                {%else%}
                    {{ details.file_name }}
                {% endif %}
                </td> 
                <td>
                    {% if details.file_name|length==0 %}
                        <b>{{"Not Uploaded"}}</b>
                    {%else%}
                    <form action="/reqdata" method="POST">
                        <input type="text" name="userid" placeholder="Id" value = {{ details.id }} hidden readonly/>
                        <input type="submit" class="btn btn-primary" value = "View">
                    </form> 
                    {% endif %}
                </td>
                <td>
                    {% if details.file_name|length==0 %}
                        <b>{{"Not Uploaded"}}</b>
                    {%else%}
                    <form action="/deldata" method="POST">
                        <input type="text" name="userid" placeholder="Id" value = {{ details.id }} hidden readonly/>
                        <input type="submit" class="btn btn-primary" value = "Delete">
                    </form>
                    {% endif %}
                </td>  
            </tr>  
            {% endfor %}  
    </table> 
    {% if len==0 %}
    <h3>{{"No Records found"}}</h3>
    {% endif %}
      <br>

    <a href="/del">Delete All Assignments</a><br><br>
    <a href="/remstu">Remove Students</a><br><br>
    <a href="/plag">Check Plagiarism</a>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>